
.headerContainer {
  background-image: linear-gradient(
    rgb(106, 106, 106) 5%,
    rgb(60, 60, 60),
    rgb(60, 60, 60),
    rgb(60, 60, 60),
    rgb(106, 106, 106)
  );
  width: 80%;
  height: 200px;
  margin: auto;
  /* background-color: rgb(106, 106, 106); */
  color: rgb(201, 201, 201);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 1px 15px 15px rgb(163, 227, 248);
  /* border: 0.5rem outset pink; */
  border-bottom: 0.5rem outset rgb(37, 37, 37);
  border-right: 0.5rem outset rgb(37, 37, 37);
  border-left: 0.5rem outset rgb(37, 37, 37);
}

.HeaderText{
  text-align: center;
}

.HeaderText-Name{
  font-size: xxx-large;
margin-bottom: 0%;
}

.HeaderText-JobTitle{
  text-align: center;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-top: 10px;
}

.basicContact{
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  /* padding-bottom: 15px; */
  margin: auto;
}

.basicContact a i{
  font-size: x-large;
  text-decoration: none;
}
