.BasicInfoContainer{
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
justify-content: center;
}

.ProfilePicContainer{
  grid-area: profilePic;
  display: flex;
  justify-content: end;
  padding-right: 25px;
}

.profilePic {
  max-width: 350px;
  max-height: 350px;
  border-radius: 75px;
}


.basicContact{
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: flex-start;

}

.basicContact ul{  
  list-style-type: none;
}

.basicContact li{  
  font-size: larger;
  padding-bottom: 15px;
}