.BasicInfoContainer{
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: auto;
  height: 400px;
}

.ProfilePicContainer{
  grid-area: profilePic;
  display: flex;
  justify-content: end;
  padding-right: 5px;
  margin-left:auto;
}

.profilePic {
  max-width: 350px;
  max-height: 350px;
  border-radius: 75px;
}


